ACTION=="add", ATTRS{manufacturer}=="ZOOM Corporation", ATTRS{product}=="H2n", TAG+="systemd", SYMLINK+="snd/$attr{product}", ENV{SYSTEMD_WANTS}+="h2n-audio-input.service"
