ACTION=="add", ATTRS{manufacturer}=="Teensyduino", ATTRS{product}=="Phazerville", TAG+="systemd", SYMLINK+="snd/$attr{product}", ENV{SYSTEMD_WANTS}+="orn8-audio-input.service"
