[Unit]
Description=USB Audio from H1n
#BindsTo=dev-snd-pcmC1D0c.device
#After=dev-snd-pcmC1D0c.device
BindsTo=dev-snd-H1n.device
After=dev-snd-H1n.device
Wants=norns-jack.service

[Service]
Type=forking
User=we
ExecStart=/home/we/dust/code/connect-opz/lib/connect-h1n-input.sh
# StopWhenUnneeded=true
ExecStop=/home/we/dust/code/connect-opz/lib/disconnect-h1n-input.sh
