[Unit]
Description=USB Audio for OP-Z
BindsTo=dev-snd-pcmC1D0c.device                                                       
Wants=norns-jack.service

[Service]
Type=forking
ExecStart=/home/we/dust/code/connect-opz/lib/connect-opz-input.sh
# StopWhenUnneeded=true
ExecStop=/home/we/dust/code/connect-opz/lib/disconnect-opz-input.sh
