[Unit]
Description=USB Audio from OP-Z
#BindsTo=dev-snd-pcmC1D0c.device
#After=dev-snd-pcmC1D0c.device
BindsTo=dev-snd-OP\x2dZ.device
After=dev-snd-OP\x2dZ.device
Wants=norns-jack.service

[Service]
Type=forking
User=we
ExecStart=/home/we/dust/code/connect-opz/lib/connect-opz-input.sh
# StopWhenUnneeded=true
ExecStop=/home/we/dust/code/connect-opz/lib/disconnect-opz-input.sh
